<div class="homeWrapper">
  <div class="companyWrapper">
    <div class="flex justify-between">
      <h2>精選公司</h2>
      <%= link_to '更多公司', companies_path %>
    </div>
    <ul class="flex mt-10 liGap flex-wrap">
      <% @companies.each do |company| %>
      <li class="mb-10 w-1/5 border-box">
        <div class="box"><%= company.companyName %></div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="jobWrapper mt-20">
    <div class="flex justify-between">
      <h2>精選職缺</h2>
      <%= link_to '更多職缺', jobs_path %>
    </div>
    <ul class="flex mt-10 liGap">
      <% @jobs.each do |job| %>
      <li class="mb-10 w-1/5 border-box">
        <div class="box"><%= job.jobTitle %></div>
      </li>
      <% end %>
    </ul>
  </div>
</div>