<div class="homeWrapper">
  <div class="companyWrapper">
    <div class="flex justify-between">
      <h2>精選公司</h2>
      <%= link_to '更多公司', companies_path %>
    </div>
    <ul class="flex mt-10 liGap">
      <% @companies.each do |company| %>
      <li class="box"><%= company.companyName %></li>
      <% end %>
    </ul>
  </div>
  <% @jobs.each do |job| %>
    <%= job.jobTitle %>
  <% end %>
</div>