<h1 class="mb-20"><%= @company.companyName %></h1>

<%= render 'form', company: @company %>

<!-- <%= link_to 'Show', companies_show_admin_path(@company) %> | -->  
<%= link_to 'Back', companies_show_admin_path(@company) %>