@import 'global.scss';
.companyList, .jobList {
  > li {
    background-color: $white;
    border: 1px solid $borderBlack;
    a {
      padding: 20px;
      width: 100%;
      display: inline-block;
      text-decoration: none;
      color: $borderBlack !important;
    }
  }
  > li + li {
    margin-top: 10px;
  }
}