@import '_var.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: $bgGrey !important;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pr-10 {
  padding-right: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.w-1\/5 {
  width: 20%;
}
.border-box {
  box-sizing: border-box;
}
.liGap {
  li + li {
    padding-left: 10px;
  }
  li:nth-child(5n + 1) {
    padding-left: 0;
  }
}
a {
  color: $linkColor !important;
  &:hover {
    color: lighten($linkColor, 10%) !important;
    background-color: transparent !important;
  }
}
.m-auto {
  margin: auto;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.max-w-md {
  max-width: 960px;
}
.text-grey {
  color: $lightGrey;
}
.text-sm {
  font-size: 14px;
}
.border-t {
  border-top: 1px solid $boxGrey;
}
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
.btn {
  background-color: $btnBlue;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  a {
    color: $white !important;
    text-decoration: none;   
  }
}
.editForm {
  label {
    color: $lightGrey;
    margin-bottom: 10px;
  }
  input[type="text"] {
    border: 1px solid $borderBlack;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
  }
  input[type="submit"] {
    background-color: $btnBlue;
    color: $white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
  }
}
input {
  box-sizing: border-box;
}
.toggleOpen {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $borderBlack;
  li {
    background-color: $white;
    padding: 2px 12px;
    cursor: pointer;
    &.active {
      background-color: $btnBlue;
      color: $white;
    }
  }
}
.hidden {
  display: none;
}
.detailTable {
  th, td {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
  }
  th {
    color: $lightGrey;
    font-size: 16px;
  }
}
.text-\[16px\] {
  font-size: 16px;
}

$height: 25px;
$width: 40px;
$circleWidth: 18px;
.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  input { 
    display: none;
    &:checked + .slider {
      background-color: #2196F3;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: $height;
    &::before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: $height - 8;
      width: $circleWidth;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
    }
  }
}