@import '_var.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: $bgGrey !important;
}
.flex {
  display: flex;
}
.mt-10 {
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.liGap {
  li + li {
    margin-left: 10px;
  }
}
a {
  color: $linkColor !important;
  &:hover {
    color: lighten($linkColor, 10%) !important;
    background-color: transparent !important;
  }
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.btn {
  background-color: $btnBlue;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  a {
    color: $white !important;
    text-decoration: none;   
  }
}