@import 'global.scss';
.companyWrapper, .jobWrapper {
  background-color: $boxGrey;
  border: 1px solid $borderBlack;
  padding: 20px;
}
.box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid $borderBlack;
  border-radius: 10px;
}