<!DOCTYPE html>
<html>
  <head>
    <title>RailsCloudsqlMysql</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="max-w-md m-auto">
      <%= yield %>
    </div>
  </body>
</html>
